
html{
    background-color: black;
}
body{
    background-color: black ;
}
.reg {
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .registration-container, .welcome-container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #286f3f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition-property: inherit;
    transition-duration: .4s;
    transform: scale(1);
  }
  
  button:hover {
    background-color: #36bd38;
    transition-property: inherit;
    transition-duration: .4s;
    transform: scale(1.1);

  }
  
  #error-message {
    color: red;
    margin-top: 10px;
  }
  